*{
  font-family: "Battambang-Regular", sans-serif;
}

/* Barra de navegacion */
.navbar {
  padding: 2rem;  
}

.btn-contact, .btn-cv{
  background: var(
    --gradient-morado,
    linear-gradient(90deg, rgba(39, 0, 93, 1) 0%, rgba(126, 48, 225, 1) 100%)
  );
  border-radius: 30px;
  width: 120px;
  height: 48px;
  color: #fff !important;
}

.btn-contact:hover, .btn-cv:hover{
  box-shadow: 2px 5px 30px 0px rgba(126, 48, 225, 0.6);
  color: #fff;
}

/* Seccion Hero */
.hero-principal h1 {
  font-size: 5rem;
  background: linear-gradient(90deg, rgba(39, 0, 93, 1) 0%, rgba(126, 48, 225, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-principal h2 {
  font-size: 3.5rem;
}

.descripcion{
  font-size: 1rem;
}

.image-me {
  width: 580px;
  height: auto;
  margin: 20px;
}

.saber-mas {
  width: 130px;
  height: 100px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #510090;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: transparent;
  background-image: linear-gradient(90deg, rgba(39, 0, 93, 1) 0%, rgba(126, 48, 225, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saber-mas:hover {
  color: #fff;
  background-color: #510090;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: #fff;
}

/* Sobre mi */
.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* SERVICES */
.highlight {
  background: linear-gradient(90deg, rgba(39, 0, 93, 1) 0%, rgba(126, 48, 225, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Cards */
.card-group img{
  width: 60px;
  height: 60px;
}

.card{
  border: none;
  box-shadow: var(
    --drop-shadow-500-box-shadow,
    0px 4px 4px -4px rgba(12, 12, 13, 0.05),
    0px 16px 16px -8px rgba(12, 12, 13, 0.1)
  );
}

.card:hover{
  box-shadow: 0px 4px 4px 0px rgba(42, 0, 100, 0.196),
    0px 8px 12px 6px rgba(125, 48, 225, 0.146);
}

.leer-mas{
  color: #7e13f8;
  font-size: .9rem;
}

.leer-mas:hover{
  color: #7e13f8;
  font-weight: 600;
}

.btn-cv{
  width: 240px;
}

/* Compañías */
.instrumental, .udc{
  width: 125px;
  height: 120px;
}

.hyperox{
  width: 170px;
  height: 120px;
}

/* Proyectos */
.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 270px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
/* Fin proyectos */

/* Projects Carrusel */
.carousel-projects {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    linear-gradient(
      179.74deg,
      rgba(38, 0, 95, 1) 0%,
      rgba(162, 153, 235, 1) 56.00000023841858%,
      rgba(231, 193, 255, 1) 100%
    );
  color: #fff;
  border-radius: 10px;
  padding: 60px 0px 30px 0px;
}

.carousel-inner .row .col img {
  height: 180px; 
  object-fit: fill; /* Ajusta la imagen dentro del contenedor sin deformarse */
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: #000000bb;
  border-radius: 40px;
  padding: 25px;
}

.carousel-indicators{
  position: initial;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

/* Tools - Iconos */
.fa-css3-alt{
  font-size: 35px;
}

.tool:hover{
  background: #ffffff;
  border-radius: 10px;
  width: auto;
  box-shadow: 0px 4px 4px -4px rgba(73, 16, 139, 0.2),
    0px 12px 16px -6px rgba(73, 16, 139, 0.3);
}

/* Contacto */
.container .row {
  display: flex;
}

.cta{
  background: var(
    --gradient-morado,
    linear-gradient(90deg, rgba(39, 0, 93, 1) 0%, rgba(126, 48, 225, 1) 100%)
  );
  border-radius: 30px;
  box-shadow: 0px 3px 40px 0px rgba(126, 48, 225, 0.8);
  height: 250px;
  color: #fff;
}

.title-hablemos{
  font-size: 2.4rem;
}

.texto-cta{
  font-size: 1.2rem;
}

.btn-email{
  max-width: 1100px;
  min-height: 200px;
  padding: 22px;
  border-radius: 50px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.06em;
}

.btn-email:hover{
  background-color: #fff;
  color: #000000;
  box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 1);
}

/* Pie de pagina (footer) */
footer {
  min-height: 500px;
  background-image: url('./media/images/footer.png');
}

.logo-jess-footer{
  margin-left: 6vw;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(234, 165, 255);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.services-footer, 
.aboutme-footer{
  color: #fff;
}

.services-footer a,
.aboutme-footer a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.services-footer a:hover,
.aboutme-footer a:hover{
  color: #985df5;
}

.line{
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 90%;
}

.derechos-de-autor {
  font-size: 15px;
  color: #ffffff;
  padding: 20px;
}

/* Adaptable (Responsivo) */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  img.col.image-me {
    width: 330px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  p.text-services{
    padding-left: 0;
    padding-right: 0;
  }

  .hyperox, .instrumental, .udc{
    width: auto;
    height: auto;
  }

  .instrumental, .udc{
    margin-inline: 20px;
    margin-top: 40px;
  }

  /* Contacto */
  .cta{
    padding-top: 30px;
    padding-bottom: 40px;
    height: 350px;
  }

  footer div.row{
    margin-top: 40px;
    margin-left: 10px;
  }

  .services-footer, .aboutme-footer{
    margin-top: 30px;
  }
}